.destImg{
    min-height:60%;
    min-width:40%;
    max-height:300px;
    max-width:95%;
    margin: 0.3em auto 1em;
    border: 0.3em groove white;
    border-radius: 0.2em;
}

#resultsList{
    padding:0;
    margin: 0 10%;
}

#disclaimer{
  margin-top:1em;
}

li{
    border: 0.75em solid #D80032;
    border-radius: 0.75em;
    margin: 0.5em;
    /* lightgray from 0 to 10px, white from 10 to 20px */
background: repeating-linear-gradient(
  45deg,
  lightgray,
  lightgray 10px,
  white 10px,
  white 20px
);
}
.inside-li{
    color:black;
}
.left-column{
    margin-top:2%;
    margin-bottom:5%;
    margin-left:3%;
    margin-right:3%;
    height:100%;
    border: 0.2em solid black;
    background-color:white;
    padding-bottom: 0.3em;
}

.title{
  font-size:2em;
  text-decoration:underline;
}
