<mat-card [formGroup]="searchForm" class="p2b-white-border">
  <h3>What do you want to do?</h3>
  <mat-form-field>
    <input matInput
           placeholder="City"
           formControlName="city"/>
    <mat-error>City is required</mat-error>
  </mat-form-field>
  <br />
  <mat-form-field>
    <input matInput
           placeholder="Radius (miles)"
           formControlName="radius" type="number" step="1"/>
    <mat-error>Radius must be 1-25 miles</mat-error>
  </mat-form-field>
  <br />
  <div formArrayName="destinations">
    <mat-form-field *ngFor="let destination of destinations.controls; let i = index">
      <mat-select [formControlName]="i"
                  value="destination"
                  placeholder="Destination {{i + 1}}">
        <mat-option *ngFor="let destinationType of destinationTypes"
                    class="p2b-solid-background"
                    [value]="destinationType.key">
          {{destinationType.description}}
        </mat-option>
      </mat-select>
      <mat-error>Blank destinations are not allowed!</mat-error>
    </mat-form-field>
    <br />
    <button class="p2b-form-button"
            *ngIf="destinations.controls.length < 10"
            (click)="addDestination()">
      Add destination
    </button>
    <button class="p2b-form-button"
            *ngIf="destinations.controls.length > 1"
            (click)="removeDestination()">
      Remove destination
    </button>
    <br />
    <button class="p2b-form-button submit"
            *ngIf="searchForm.valid"
            (click)="triggerSearch()">
         Let's make a plan
    </button>
  </div>
</mat-card>
