.nested {
    font-weight: normal;
    margin-left: 3px;
  }
  #destinationList{
      list-style-type:none;
      padding:0;
  }
  .destRow{
      margin-top:10px;
      margin-bottom:10px;
  }
  .help{
      color:#D80032;
      font-size:30px;
      font-weight:bold;
      font-family:Arial, sans-serif;
      padding:10px;
      margin-bottom:5px;
  }
  .container{
      font-family: Arial, sans-serif;
  }
  button{
      border-radius:0.3em;
  }
  .destButton{
    margin: 0.3em;
  }

  $mat-border-radius: 1em;

  mat-expansion-panel {
    margin: 20px 0;
    border: 2px solid white;
    border-radius: $mat-border-radius;
  }

  .mat-expansion-panel-header {
    border-radius: $mat-border-radius;
  }

  h3 {
    font-family: Lemon, sans-serif;
  }

  mat-panel-title {
    margin-left: auto;
    margin-right: auto;
    font-size: 1em;
    text-align: center;
  }
