<div class="wrapper p2b-theme">
  <div class="jumbotron bookend">
    <div id="iconRow">
      <img src="../assets/music.png"/>
      <img src="../assets/tree.png"/>
      <img src="../assets/wine.png"/>
      <img src="../assets/burger.png"/>
    </div>
    <h1>Places 2B</h1>
    <h2>Making your day</h2>
  </div>
  <router-outlet></router-outlet>
  <footer class="bookend">
    <div class="vert-center-top"></div>
    <h2>&copy; 2018 - Zbay Industries</h2>
    <div class="vert-center-bottom"></div>
  </footer>
</div>
