@import '../node_modules/@angular/material/theming';

@include mat-core();

$p2b-primary: mat-palette($mat-grey, 100, 50, 400);
$p2b-accent: mat-palette($mat-orange);
$p2b-warn: mat-palette($mat-red);

.p2b-theme {

  $p2b-theme: mat-dark-theme($p2b-primary, $p2b-accent, $p2b-warn);

  @include angular-material-theme($p2b-theme);
}

$accent: mat-color($p2b-accent);
$alt-accent: aqua;
$foreground-text: white;
$bookend-background: white;
$bookend-border: mat-color($p2b-warn);
$bookend-text: black;
$warn: mat-color($p2b-warn);
$primary: mat-color($p2b-primary);
$background: #131313;
