@import './p2b-theme';

// icons? music_video, local_dining, local_bar, local_cafe, local_movies, fastfood, terrain, directions_bike

body {
  font-family: Lemon, 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color:$primary;
  font-size: 16px;
  background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0,
    linear-gradient(27deg, #222 5px, transparent 5px) 0 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: $background;
  background-size: 20px 20px;
}
input, button{
  font-family: 'Avenir', Arial, sans-serif;
}
button{
  background-color: $primary;
}


.bookend {
  background-color:$bookend-background;
  border: 1.25em double $bookend-border;
  border-radius: 0.75em;
  color: $bookend-text;
  font-family: Lemon, sans-serif;
  text-align:center;
  padding:1.8em;
  text-shadow: 3px 3px $link-primary;
  width:100%;
  box-sizing: border-box;

  h1, h2 {
    text-shadow: 3px 3px $link-primary;
  }

  h1 {
    font-size:3em;
  }

  h2 {
    font-size: 1.8em;
  }

  @media(max-width: 600px) {
    h1{
      font-size: 1.6em;
    }
    h2 {
      font-size: 1.1em;
    }
  }
}

.jumbotron {
  margin-bottom: 1em;
}

footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  align-self: center;
  margin-top: 1em;

  .vert-center-top{
    align-self:flex-start;
  }
  .vert-center-bottom{
    align-self:flex-end;
  }
}

a:link {
  color: $link-primary;
}
a:visited {
  color: $link-primary;
}

a:hover {
  color: $link-active;
}
a:active {
  color: $link-active;
}

#iconRow img {
  height: 3em;
  min-width: 3em;
  max-width: 6em;
}

.wrapper {
  min-height:100vh;
  flex-direction:column;
  display:flex;
}

.mat-form-field-label-wrapper {
  font-family: Lemon, sans-serif;
}

.ng-valid .mat-form-field-label {
  color: $accent !important;
}

.p2b-solid-background {
  background-color: $background !important;
}

mat-expansion-panel {
  background: rgba(0,0,0, 0.6) !important;
}

.mat-expansion-panel-content {
  background: rgba(0,0,0, 0.0);
}
.mat-expansion-panel-header {
  background: rgba(0,0,0, 0.8);
}

mat-vertical-stepper {
  background: rgba(0,0,0,0) !important;
}

mat-form-field {
  font-size: 1.5em !important;
}

.p2b-form-button {
  color: $background;
  background-color: $bookend-background;
  font-family: Lemon, sans-serif;
}

mat-icon{
  font-family: 'Material Icons', sans-serif !important;
}

.mat-icon-button .mat-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fancy-text, span.mat-checkbox-label {
  font-family: Lemon, sans-serif !important;
}

mat-form-field.ng-invalid {
  margin-bottom: 0.5em;
}

.error {
  color: $warn;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.big-icon {
  font-size: 50px;
  height: 50px !important;
  width: 50px !important;
}

.result-box {
  border: 0.75em solid $bookend-border;
  box-sizing: border-box;
  border-radius: 0.75em;
  margin: 0.5em;
  /* lightgray from 0 to 10px, white from 10 to 20px */
  background: repeating-linear-gradient(
      45deg,
      lightgray,
      lightgray 10px,
      white 10px,
      white 20px
  );
}

mat-step {
  border: 1px solid white !important;
}
