@import 'p2b-theme';
@import 'stylesheets/material_modifications';
@import 'stylesheets/bookends';

// icons? music_video, local_dining, local_bar, local_cafe, local_movies, fastfood, terrain, directions_bike

body {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Lemon, 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color:$primary;
  font-size: 16px;
  background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0,
    linear-gradient(27deg, #222 5px, transparent 5px) 0 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: $background;
  background-size: 20px 20px;
}
input, button{
  font-family: 'Avenir', Arial, sans-serif;
}
button{
  background-color: $primary;
}

a:link {
  color: $link-primary;
}
a:visited {
  color: $link-primary;
}

a:hover {
  color: $link-active;
}
a:active {
  color: $link-active;
}

.p2b-solid-background {
  background-color: $background !important;
}

.p2b-form-button {
  color: $background;
  background-color: $bookend-background;
  font-family: $fancy-font, sans-serif;
}

.fancy-text {
  font-family: $fancy-font, sans-serif !important;
}

.error {
  color: $warn;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.big-icon {
  font-size: 50px;
  height: 50px !important;
  width: 50px !important;
}

.result-box {
  border: 0.75em solid $bookend-border;
  box-sizing: border-box;
  border-radius: 0.75em;
  margin: 0.5em;
  /* lightgray from 0 to 10px, white from 10 to 20px */
  background: repeating-linear-gradient(
      45deg,
      lightgray,
      lightgray 10px,
      white 10px,
      white 20px
  );
}

.thick-border {
  border: 0.75em solid $bookend-border;
  box-sizing: border-box;
  border-radius: 0.75em;
}
