@import './p2b-theme';

// icons? music_video, local_dining, local_bar, local_cafe, local_movies, fastfood, terrain, directions_bike

body {
  font-family: Lemon, 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color:$primary;
  font-size: 16px;
  background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0,
    linear-gradient(27deg, #222 5px, transparent 5px) 0 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: $background;
  background-size: 20px 20px;
}
input, button{
  font-family: 'Avenir', Arial, sans-serif;
}
button{
  background-color: $primary;
}

.bookend {
  background-color:$bookend-background;
  border: 1.25em double $bookend-border;
  border-radius: 0.75em;
  color: $bookend-text;
  font-family: Lemon, sans-serif;
  text-align:center;
  padding:1.8em;
  text-shadow: 3px 3px $accent;
  width:100%;

  h1, h2 {
    text-shadow: 3px 3px $accent;
  }

  h1 {
    font-size:3em;
  }

  h2 {
    font-size: 1.8em;
  }
}

.jumbotron {
  margin-bottom: 1em;
}

footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  align-self: center;
  margin-top: 1em;

  .vert-center-top{
    align-self:flex-start;
  }
  .vert-center-bottom{
    align-self:flex-end;
  }
}

a:link {
  color: $accent;
}
a:visited {
  color: $accent;
}

a:hover {
  color: $accent;
}
a:active {
  color: $accent;
}

#iconRow img {
  height: 3em;
  min-width: 3em;
  max-width: 6em;
}

.wrapper {
  min-height:100vh;
  flex-direction:column;
  display:flex;
}

.mat-form-field-label-wrapper {
  font-family: Lemon, sans-serif;
}

.ng-valid .mat-form-field-label {
  color: $alt-accent !important;
}

.p2b-solid-background {
  background-color: $background !important;
}

mat-card {
  background: rgba(0,0,0, 0.6) !important;
}

.p2b-form-button {
  color: $background;
  background-color: $bookend-background;
  font-family: Lemon, sans-serif;
}
