<form #form="ngForm" (submit)="nothing()">
  <div class="form-group">
      <ol id="destinationList">
          <li *ngFor="let destination of searchQuery.destinations; let idx = index">
              <label>Destination {{idx+1}}</label>
              <br />
              <div class="container">
                  <div class="row destRow">
                      <div class="col-md-2 col-lg-2"></div>
                      <div class="col-md-2 col-lg-2">
                          <input type="radio" name="destination{{idx}}" [checked]="destination.kind == 'restaurants'" value="restaurants" (change)="setDestination(idx, 'restaurants')" required/>
                          <label class="nested">Sit down and eat</label>
                      </div>
                      <div class="col-md-2 col-lg-2">
                          <input type="radio" name="destination{{idx}}" [checked]="destination.kind == 'active'" value="active" (change)="setDestination(idx, 'active')" required/>
                          <label class="nested">Be active</label>
                      </div>
                      <div class="col-md-2 col-lg-2">
                          <input type="radio" name="destination{{idx}}" [checked]="destination.kind == 'arts'" value="arts" (change)="setDestination(idx, 'arts')" required/>
                          <label class="nested">Be entertained</label>
                      </div>
                      <div class="col-md-2 col-lg-2">
                          <input type="radio" name="destination{{idx}}" [checked]="destination.kind == 'nightlife'" value="nightlife" (change)="setDestination(idx, 'nightlife')" required/>
                          <label class="nested">Go out and drink</label>
                      </div>
                      <div class="col-md-2 col-lg-2"></div>
                  </div>
              </div>
            </li>
          </ol>
      <button *ngIf="10 >= searchQuery.destinations.length" (click)="addDestination()" class="destButton">Add Destination</button>
      <button *ngIf="searchQuery.destinations.length >= 2" (click)="removeDestination()" class="destButton">Remove Destination</button>
  </div>
  <div class="form-group">
      <label>City</label>
      <br />
      <input type="text" name="city" [(ngModel)]="searchQuery.city" #city="ngModel" required minlength="2"/>
  </div>
  <div class="form-group">
      <label>Search Radius (miles)</label>
      <br />
      <input type="number" name="radius" step="1" [(ngModel)]="searchQuery.radius" #radius="ngModel" required />
  </div>
  <div class="help" *ngIf="city.errors">Please enter a city of 2 or more characters!</div>
  <div class="help" *ngIf="radius.errors || searchQuery.radius < 0 || searchQuery.radius > 25">Please enter a radius between 0 and 25!</div>
  <div class="help" *ngIf="errorMessage">No data was retrieved from Yelp. Please try again.</div>
  <button (click)="triggerSearch($event)" *ngIf="form.valid && searchQuery.radius >= 0 && searchQuery.radius <= 25">Find Places To Go</button>
</form>